@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
  background: url("assets/bg.jpg") no-repeat;
  background-size: cover;
}

#root {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin:auto;
}